# Kafka
KAFKA_VERSION=4.1.2
KAFKA_PORT=9092
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=products.raw
KAFKA_CLIENT_ID=crawler-producer
KAFKA_REQUEST_TIMEOUT_MS=10000
STREAM_PROCESSOR_GROUP_ID=stream-processor
STREAM_PROCESSOR_AUTO_OFFSET_RESET=earliest
STREAM_PROCESSOR_POLL_TIMEOUT_MS=10000
STREAM_PROCESSOR_BATCH_SIZE=10
STREAM_PROCESSOR_POSTGRES_TABLE=products_clean
STREAM_PROCESSOR_ERROR_DIR=apps/stream_processor/errors

# Airflow
AIRFLOW_VERSION=3.1.8
AIRFLOW_UI_PORT=18080
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_METADATA_DB_NAME=airflow
AIRFLOW_METADATA_DB_USER=airflow
AIRFLOW_METADATA_DB_PASSWORD=airflow
AIRFLOW_API_SECRET_KEY=airflow-local-api-secret-key
AIRFLOW_API_AUTH_JWT_SECRET=airflow-local-jwt-secret-key
AIRFLOW_PIPELINE_SCHEDULE=@hourly
AIRFLOW_PIPELINE_TOPIC=products.raw
AIRFLOW_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
AIRFLOW_EXECUTION_API_SERVER_URL=http://airflow-api-server:8080/execution/
AIRFLOW_POSTGRES_HOST=postgres
AIRFLOW_POSTGRES_PORT=5432
AIRFLOW_POSTGRES_DB=analytics
AIRFLOW_POSTGRES_USER=analytics
AIRFLOW_POSTGRES_PASSWORD=analytics123
AIRFLOW_STREAM_PROCESSOR_GROUP_ID=stream-processor-airflow
AIRFLOW_STREAM_PROCESSOR_BATCH_SIZE=10
AIRFLOW_STREAM_PROCESSOR_POSTGRES_TABLE=products_clean

# PostgreSQL
POSTGRES_VERSION=16-alpine
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=analytics
POSTGRES_USER=analytics
POSTGRES_PASSWORD=analytics123

# MinIO
MINIO_VERSION=RELEASE.2024-01-16T16-07-38Z
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# Crawler
# TODO: replace this sample source with the real target source once it is defined.
CRAWLER_SOURCE_URL=https://dummyjson.com/products
CRAWLER_SOURCE_ITEMS_KEY=products
CRAWLER_SOURCE_NAME=dummyjson
CRAWLER_BATCH_LIMIT=10
CRAWLER_HTTP_TIMEOUT_SECONDS=30
CRAWLER_DEFAULT_CURRENCY=USD
